@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bebas";
  src:  url("/fonts/BebasNeue-Regular.woff2") format("woff2"),
        url("/fonts/BebasNeue-Regular.woff") format("woff"),
        url("/fonts/BebasNeue-Regular.ttf") format("truetype");
}

body {
  font-family: 'Poppins', sans-serif;
  @apply bg-zinc-900;
}

#__next {
  @apply flex;
}

.wrapper {
  background-size: cover;
  background-attachment: fixed;
}

.custom-hr {
  width: 40%;
  border: 2px solid rgb(220 38 38);
  @apply my-4;
}

.shadow {
  position: absolute;
  top: 130px;
  left: 50%;
  width: 400px;
  height: 30px;
  transition: .4s;
  transform: translateX(-50%);
  -webkit-transition: .4s;
  -webkit-transform: translateX(-50%);
  -moz-transition: .4s;
  -moz-transform: translateX(-50%);
  
  border-radius: 100%;
  background: radial-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.0), rgba(0,0,0,0.0));
}

.main {
  &--section {
    width: 100%;
  }
}

.links {
  &--items {
    @apply flex items-center p-2 text-base font-normal rounded-lg text-red-500 
    hover:text-red-200 hover:bg-red-600;

    &-span {
      @apply ml-6 text-zinc-500 font-normal group-hover:text-white;
    }
  }
}
